<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <h1>New Messages</h1>    
    <a href="/">Go back</a>

    <form method="POST" action="/new">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="text" placeholder="Message Text">
        <button type="submit">Send</button>
    </form>
</body>
</html>